<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script type="text/javascript" src="../static/jquery-3.2.1.min.js"></script>
</head>
<body>

    用户ID：<input type="text" id="userId" />
    密码：  <input type="password" id="password" />
    <br />

<button id="btn">登录</button>
<script type="text/javascript">

$("#btn").click(function(){
    var userId = $("#userId").val();
    var password = $("#password").val();
    console.log(userId+":"+password);
    $.ajax({
        url:"http://localhost:8080/user/login",
        type: "POST",
        contentType: "application/json",
        datatype:"JSON",
        // 将XHR对象的withCredentials设为true
        xhrFields:{
            withCredentials:true
        },
        data:JSON.stringify({
            "userId":userId,
            "password":password
        }),
        success:function(result){
            console.log(result);
            window.location.href="websocket.html";//http://localhost:8080/user/getRecommendList
        }}
    );
});



    </script>
</body>
</html>